<!DOCTYPE html>
<html>
  <head>
    <title>ChatBot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <%= userid %></h1>
    <form action="/add" method="post">
      <label>Create a bot</label>
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="personality">Name</label>
      <input type="text" name="personality" id="personality">
      <input type="text" name="userid" id="userid" style="display: none" value="<%= userid %>">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
